<h2>Interpolation</h2>
<p>{{ nome }} tem {{idade}} anos</p>
<p>{{ nome }} tem 28 anos?</p>
<p>{{idade > 28}}</p>
<p>Quanto eh {{idade}} + 1?</p>
<p>{{idade + 1}}</p>

<br>
<br>

<hr>
<h2>Property Binding</h2>
<button [disabled]="checkedDisabled">Button</button>
<img [src]="imgSrc" alt="" [title]="imgTitle">

<br>
<br>

<hr>

<h2>Event Biding</h2>
<button (click)="alertaInfo($event)">Evento</button>

<div (mousemove)="meuMouseMove($event)" style="background: red; width: 300px; height: 300px"></div>
{{position.x}} - {{position.y}}
<br>
<br>

<hr>

<h2>Event Biding</h2>
<input [(ngModel)]="nome">
{{nome}}
<br>
<br>

<hr>